@import "tailwindcss";



@theme inline {
  --shadow-input:
    0px 2px 3px -1px rgba(0, 0, 0, 0.1),
    0px 1px 0px 0px rgba(25, 28, 33, 0.02),
    0px 0px 0px 1px rgba(25, 28, 33, 0.08);
}

/* globals.css */
:root {
  --color-neutral-50: #fafafa;
  --color-neutral-500: #737373;
  --color-yellow-300: #fcd34d;
  --color-yellow-500: #f59e0b;
  --fill-initial: var(--color-neutral-50);
  --fill-final: var(--color-yellow-300);
}

.dark {
  --color-neutral-50: #1a1a1a;
  --color-neutral-500: #a3a3a3;
  --color-yellow-300: #fcd34d;
  --color-yellow-500: #f59e0b;
  --fill-initial: var(--color-neutral-800);
  --fill-final: var(--color-yellow-500);
}